page-more {
    .card{
        margin: 0;
        width: 100%;
    }
    .margin-top{
        margin-top: 10px;
    }
    .margin-bottom {
        margin-bottom: 0;
    }
    ion-list-header .label {
        margin-bottom: 0;
    }
    .list {
        margin-bottom: 0;
    }
}
